.icon-48-steamids {
      background-image: url(../images/l_steamids.png);
      padding-left:60px!important;
}

.icon-48-steamid {
      background-image: url(../images/l_steamids.png);
      padding-left:60px!important;
}

